h1 {
	margin: 100px 0 20px
}

h1 a {
	color: black;
	font-weight: 300;
}
#url {
	background: #f0f0f0;
}
img.external {
	width: 14px;
	height: 14px;
	margin-top: -3px;
}
@media (max-width:500px) { 
	.input-group-addon { display: block; width: 100%}
	.input-group-btn .btn { height: 67px; }
	img.external { margin-top: 16px; }
}
